 @media all and (max-width:768px)


font-face 
{
    font-family: 'ralewaythin';
    src: url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
    url('raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}    

body
{
    margin: 0px;
    width: 100%;
}

.logo
{
    width: 90vw;
    background-color: pink
}		
.block_page
{
	font-family: ralewaythin, sans-serif;
	width: 100%;
        
}
.logo_nav
{
    width: 92%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    
    height: 20vw;
 }
.logo_nav img
{
    width: 20vw;
    height: 14vw;
    padding-left: 2vw;
    margin-top: 2vw;
    margin-left: 2vw;
    
}

.logo_nav ul
{
    list-style-type: none;  
    display: flex;
    
    

}

.logo-nav li
{
    
    width: 60%;
    margin: 0px;
}

.logo_nav nav
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0px;
}
.logo_nav a
{
     font-size: 3.5vw;
     text-decoration: none;
     color: #0065FC;
 }
.sin
{
    position: absolute;
    top: 7.5vw;
    right: 20vw;
} 
.heb
{
    border-bottom: 2px solid #0065FC;
    padding: 0vw 11vw 2vw 13vw;
    position: relative;
    left: -5.1vw;
    
    
}
.ac
{
border-bottom: 2px solid #F2F2F2;
padding: 0vw 13vw 2vw 18vw;
position: relative;
left: -5vw;
}


.avant_recherche
{
    width: 100%;
}
.avant_recherche h1
{
    font-size: 6.5vw;
    
    
    margin-left: 2vw;
}
.avant_recherche p
{
    font-size: 4vw;
    margin-left: 2vw;
}
    
.rechercher
{
    display: none;
}
.recherche
{
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 100%;
    

}
.fa-map-marker-alt
{
   border: 1px solid #F2F2F2;
   border-radius: 12px 0px 0px 12px;
   margin-left: 2vw;
   padding: 2.5vw 2.6vw 2.5vw 2.6vw ; 
   background-color: #F2F2F2;
   font-size: 4vw;
   
}
.ville
{
    font-size: 4vw;
    font-weight: bold;
    padding: 2vw 0px 2vw 6vw;
    border: 2px solid #F2F2F2;
    width: 99%;
    
}
.rechercher_ico
{
 
    background-color: #0065FC;
    border: 1px solid #0065FC;
    color: white;
    padding: 2.2vw 2.2vw 2.2vw 2.2vw;
    border-radius: 12px;
    position: relative;
    left: -14px;
    font-size: 4vw;
    
}
.filtres
{
    display: flex;
    flex-flow: row wrap;
    margin-left: 2vw;
}
.filtres h1
{
    padding-right: 2vw; 
    font-size: 6.5vw;
}
.barre_filtres
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.barre_filtres h2
{
    font-size: 3vw;
    padding: 0px 4vw 0px 3vw;
}
.eco
{
    display: flex;
    align-items: center;
    width: 45vw;
    height: 12vw;
    margin-right: 2vw; 
    margin-bottom: 3vw; 
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    
}
.fa-money-bill-wave
{
    border: 2px solid #DEEBFF;
    background-color: #DEEBFF;
    padding: 4.5vw 4.5vw 4.5vw 4.5vw; 
    border-radius: 45px;
    position: relative;
    left: -1vw;
    color: #0065FC;
    font-size: 3vw;
}
.fam
{
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 10px; 
    border: 2px solid #F2F2F2;
    border-radius: 45px;
    padding: 0px 20px 0px 0px;
    width: 36vw;
    height: 12vw;
}
.fa-child
{
    border: 2px solid #DEEBFF;
    background-color: #DEEBFF;
    padding: 4.5vw 4.5vw 4.5vw 4.5vw;
    border-radius: 45px;
    position: relative;
    left: -1vw;
    color: #0065FC;
    font-size: 3vw;
}
.rom
{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 3vw; 
    border: 2px solid #F2F2F2;
    border-radius: 45px;
    padding: 0px 10px 0px 0px;
    height: 12vw;
    width: 43vw;

}
.fa-heart
{
    border: 2px solid #DEEBFF;
    background-color: #DEEBFF;
    padding: 4.5vw 4.5vw 4.5vw 4.5vw;
    border-radius: 45px;
    position: relative;
    left: -1vw;
    color: #0065FC;
    font-size: 3vw;

}
.ani
{
    display: flex;
    align-items: center;
    margin-right: 20px; 
    margin-bottom: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 45px;
    padding: 0px 10px 0px 0px;
    width: 50vw;
    height: 12vw;
}
.fa-dog
{
    border: 2px solid #DEEBFF;
    background-color: #DEEBFF;
    padding: 4.5vw 4.5vw 4.5vw 4.5vw;
    border-radius: 45px;
    position: relative;
    left: -1vw;
    color: #0065FC;
    font-size: 3vw;
}
.nombres_logements
{
    display: flex;
    align-items: center;
    margin-left: 2vw;
}
.nombres_logements p
{
    font-size: 3vw;
}


.ico_info
{
    font-size: 3vw;
    border: 2px solid #F2F2F2;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 30px;
    margin-right: 10px;
    color: #0065FC;
    margin-bottom: 1vw;
}
.HaM
{
   width: 100%;
   display: flex;
   flex-flow: row wrap-reverse;
   justify-content: space-between;
   align-items: flex-start;
   margin-left: 0px;
   margin-right: 0px
   

}



.hebergements
{
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    height: auto;
    border-radius: 30px;  
    margin-bottom:   
}
.titre_hebergements
{
    font-size: 4vw;
    
    width: 100%;
    margin-left: 30px;
}
.desc
{
    border-radius: 30px;
    margin-left: 4vw;
    
}
.titre_desc
{
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 5px;
}
.text_desc
{
    margin-bottom: 0px;
    font-size: 4vw;
    margin-bottom: 7px;
}
.note
{
    font-size: 2.7vw;
}
.fa-star
{
    color: #0065FC;
}
.grey
{
    color: #F2F2F2;
}
.heb_block
{
    
    border-radius: 30px;
    height: 44vw;
    background-color: white;
    width: 85vw;
    margin-bottom: 20px;
    box-shadow: 0px 1px 10px 5px rgb(100 100 100 / 10%);

}
.heb_block img
{
    width: 85vw;
    height: 28vw;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;

}

.afficher
{
        
    font-size: 4vw;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    border: none;
    background-color: white; 
}
.plus
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 2vw;
}
.populaires
{
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: auto;
    
    margin-bottom: 10vw;
}
.titre_pop
{
    font-size: 4vw;
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}
.block_pop
{
    display: flex;
    background-color: white;
    border: 3px solid white;
    border-radius: 40px;
    width: 85vw;
    height: 30vw;
    margin-bottom: 20px;

}

.block_pop img
{
    border-radius: 40px 0px 0px 40px;
    height: 30vw;
    width: 30vw;
    object-fit: cover;
}

.desc_pop
{
    width: 50%;
    margin-left: 30px;
}

.titre_desc_pop
{
    font-size: 4vw;
    font-weight: bold;
    margin-top: 1vw;
}
.text_desc_pop
{
    font-size: 3.5vw;
    margin-top: 1vw;
}
.note_pop
{
    padding-top: 10vw;
    font-size: 3vw;
}
.note_pop2
{
    padding-top: 8vw;
    font-size: 3vw;
}



.titre_act 
{
    font-size: 4vw;
    margin-left: 2vw;
}
.block_activites
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}
.desc_act
{
    font-size: 4vw;
    font-weight: bold;
    padding-left: 3vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.act_1
{
   border-radius: 30px ;
   width: 85vw;
   height: 44vw;
   box-shadow: 0px 1px 10px 5px rgb(100 100 100 / 10%);
   margin-bottom: 20px;
}
.act_1 img
{
    border-radius: 30px 30px 0px 0px;
    width: 85vw;
    height: 32vw;
    object-fit: cover;
}
.act_2
{
   width: 85vw;
   height: auto;
   display: flex;
   flex-flow: row wrap;
   align-content: space-between;
   margin-bottom: 20px;
}
.act_2 img
{
    border-radius: 30px 30px 0px 0px;
}
.fort
{
    border-radius: 30px ;
    height: 44vw;
    width: 85vw;
    box-shadow: 0px 1px 10px 5px rgb(100 100 100 / 10%);
    margin-bottom: 20px;
}
.fort img
{
    width: 85vw;
    height: 32vw;
    object-fit: cover;
}

.iles
{
    border-radius: 40px ;
    height: 44vw;
    width: 85vw;
    box-shadow: 0px 1px 10px 5px rgb(100 100 100 / 10%);

}
.iles img
{
    width: 85vw;
    height: 32vw;
    object-fit: cover;
}
.notre_dame
{
    border-radius: 40px ;
    height: 44vw;
    width: 85vw;
    box-shadow: 0px 1px 10px 5px rgb(100 100 100 / 10%);
    margin-bottom: 20px;
}
.notre_dame img
{
    width: 85vw;
    height:32vw;
    object-fit: cover;
}
.parc_long
{
    border-radius: 40px ;
    height: 44vw;
    width: 85vw;
    box-shadow: 0px 1px 10px 5px rgb(100 100 100 / 10%);
}
.parc_long img
{
    width: 85vw;
    height: 32vw;
    object-fit: cover
}
.bas_de_page
{
    
    background-color: #F2F2F2;
    width: 100%;
    height: auto;
    padding-top: 7vw;
    margin-top: 5vw;
    padding-bottom: 5vw;
   

}
.bas_de_page ul
{
    list-style-type: none;
    
    
}

.bas_de_page a
{
    text-decoration: none;
    color: black;
    font-size: 4vw;
    

        
}
.bas_de_page li
{
    padding-bottom: 10px;
}
.titre_bas_de_pages
{
    font-size: 5vw;
    font-weight: bold;
    width: 90%;
    margin-left: 40px;
    padding-bottom: 15px;
    
}
.a_propos
{
    display: flex;
    flex-flow: row wrap; 
    justify-content: flex-start;
    
}
.nos_hebergements
{
    display: flex;
    flex-flow: row wrap; 
    justify-content: flex-start;
    
}
