@media all and (min-width:768px) and (max-width:1024px)

font-face 
{
    font-family: 'ralewaythin';
    src: url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body
{
	margin: 0px;
	width: 100%;
}
.block_page
{
	font-family: ralewaythin, sans-serif;
	width: 100%;
}

.logo_nav
{
	display: flex;
	align-items:center;
	justify-content: space-between;
	width: auto;
	margin-right: 0px;
}
.logo_nav img
{
	width: 13vw;
	padding-left: 20px;
}
.logo_nav ul
{
	list-style-type: none;
	text-align: right;
   
}
.logo_nav li
{
	display: inline;
	 
}
.logo_nav a
{
	 font-size: 2vw;
	 text-decoration: none;
	 margin-right: 20px;
	 color: #0065FC;
}
.heb
{
	border-top: 2px solid #0065FC ;
	padding: 16px 30px 0px 20px ;
}
.ac
{
	padding-right: 30px;
}
.avant_recherche h1
{
   font-size: 3.6vw;
   padding-left: 20px;
   margin-bottom: 0px;
}
.avant_recherche p
{
   font-size: 3vw;
   padding-left: 20px;
   margin-top: 10px;
}
.recherche
{
	display: flex;
	align-items: center;
	margin-left: 20px;
	margin-bottom: 35px;
	
}
.rechercher_ico
{
	display: none;
}
.fa-map-marker-alt
{
    font-size: 2.5vw;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    padding: 12px 16px 13px 16px;
    border-radius: 17px 0px 0px 17px;
}
.ville
{
    font-size: 2.4vw;
    padding: 11px 0px 12px 30px;
    border: 2px solid #F2F2F2;
    font-weight: bold;
}
.rechercher
{
    font-size: 2.4vw;
    background-color: #0065FC;
    color: white;
    border: 2px solid #F2F2F2;
    padding: 11px 16px 12px 16px;
    border-radius: 0px 17px 17px 0px;

}
.filtres
{
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	margin-left: 1vw;

}
.filtres h1
{
	margin-right: 20px;
	padding-bottom: 14vw;	
}
.barre_filtres
{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	width: 70vw;

}
.barre_filtres h2
{
	font-size: 1.4vw;
	padding: 0px 3vw 0px 3vw;
}
.eco
{
    display: flex;
	align-items: center;
	margin-right: 3vw;	
	border: 2px solid #F2F2F2;
	border-radius: 35px;
	padding: 0px 10px 0px 0px;
	margin-bottom: 3vw;
	
}
.fa-money-bill-wave
{
	border: 2px solid #DEEBFF;
	background-color: #DEEBFF;
	padding: 22px 21px 22px 15px;
	border-radius: 30px;
	position: relative;
	left: -2px;
	color: #0065FC;
}
.fam
{
    display: flex;
	align-items: center;
	margin-right: 3vw;	
	border: 2px solid #F2F2F2;
	border-radius: 35px;
	padding: 0px 10px 0px 0px;
	margin-bottom: 3vw;
    
}
.fa-child
{
	border: 2px solid #DEEBFF;
	background-color: #DEEBFF;
	padding: 22px 25px 22px 20px;
	border-radius: 30px;
	position: relative;
	left: -2px;
	color: #0065FC;
}
.rom
{
    display: flex;
	align-items: center;
	margin-right: 3vw;	
	border: 2px solid #F2F2F2;
	border-radius: 35px;
	padding: 0px 10px 0px 0px;
	margin-bottom: 3vw;


}
.fa-heart
{
	border: 2px solid #DEEBFF;
	background-color: #DEEBFF;
	padding: 22px 25px 22px 20px;
	border-radius: 30px;
	position: relative;
	left: -2px;
	color: #0065FC;
}
.ani
{
    display: flex;
	align-items: center;
	border: 2px solid #F2F2F2;
	border-radius: 35px;
	padding: 0px 10px 0px 0px;
	margin-bottom: 3vw;
}
.fa-dog
{
	border: 2px solid #DEEBFF;
	background-color: #DEEBFF;
	padding: 22px 25px 22px 20px;
	border-radius: 30px;
	position: relative;
	left: -2px;
	color: #0065FC;
}
.nombres_logements
{
	display: flex;
	align-items: center;
	margin-left: 20px
}
.nombres_logements p
{
	font-size: 3vw;
}
.ico_info
{
    font-size: 3vw;
    border: 2px solid #F2F2F2;
    padding: 2px 15px 2px 15px;
    border-radius: 30px;
    margin-right: 10px;
    color: #0065FC;
}
.HaM
{
   width: auto;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-items: flex-start;
 
   
   
   

}
.hebergements
{
   flex-basis: 100%;
   display: flex;
   flex-flow: row wrap;
   background-color: #F2F2F2;
   justify-content: space-around;
   align-items: center;
   height: auto;
   margin-bottom: 50px;

   
}
.titre_hebergements
{
	font-size: 3vw;
	padding-right: 300px;
	width: 100%;
	margin-left: 20px;
}
.desc
{
	border-radius: 30px;
	margin-left: 1vw;
	height: 9vw;
	
}
.titre_desc
{
	font-size: 2vw;
	font-weight: bold;
	margin-bottom: 5px;
}
.text_desc
{
	margin-bottom: 0px;
	font-size: 1.7vw;
	margin-bottom: 7px;
}
.fa-star
{
	color: #0065FC;
	font-size: 1.5vw;
}
.grey
{
	color: #F2F2F2;
}
.heb_block
{
    border: 3px solid white;
    border-radius: 30px;
    height: 26vw;
    background-color: white;
    width: 30vw;
    margin-bottom: 40px;
    margin-right: 5px;

}
.heb_block img
{
	width: 100%;
	border-radius: 30px 30px 0px 0px;
	background-color: purple;
	object-fit: cover;

}

.afficher
{
	
	font-size: 1.3em;
	padding: 10px 10px 10px 10px;
	font-weight: bold;
	border: none;
}
.plus
{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	padding-left: 20px;
}


.populaires
{
	flex-basis: 100%;
	background-color: #F2F2F2;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	height: 100vw;
}
.titre_pop
{
	font-size: 3vw;
	display: flex;
	align-items: center;
	width: 90%;
	justify-content: space-between;
}
.block_pop
{
	display: flex;
	background-color: white;
	border: 3px solid white;
	border-radius: 30px;
	width: 65vw;
	height: 19vw;

}

.block_pop img
{
	border-radius: 30px 0px 0px 30px;
	height: 19vw;
	width: 22vw;
	object-fit: cover;
}

.desc_pop
{
	width: 50%;
	margin-left: 30px;
}

.titre_desc_pop
{
	font-size: 2vw;
	font-weight: bold;
	margin-top: 15px;
}
.text_desc_pop
{
	font-size: 1.7vw;
	margin-top: 10px;
}
.note_pop1
{
	padding-top: 6vw;
	font-stretch: 1vw;
}
.note_pop2
{
	padding-top: 6vw;
	font-stretch: 1vw;
}
.note_pop3
{
	margin-top: 8vw;
	font-stretch: 1vw;
}
.Activités
{
	margin-left: 2vw;
	margin-top: 3vw;
	margin-right: 2vw;
}
.titre_act
{
	font-size: 3vw;
}
.block_activites
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 99.5%;
}
.desc_act
{
	font-size: 2vw;
	font-weight: bold;
	padding-left: 25px;
	padding-top: 15px;
}
.act_1
{
   border-radius: 30px ;
   border: 1px solid #F2F2F2;
   width: 40vw;
   height: 56vw;
   box-shadow: 2px 2px 2px 2px #F2F2F2;
   margin-bottom: 3vw;
}
.act_1 img
{
	border-radius: 30px 30px 0px 0px;
	width: 40vw;
	height: 48vw;
	object-fit: cover;

}
.act_2
{
   width: 40vw;
   height: 56vw;
   display: flex;
   flex-flow: row wrap;
   align-content: space-between;
   margin-bottom: 40px;
}
.act_2 img
{
	border-radius: 30px 30px 0px 0px;
}
.fort
{
	border-radius: 30px ;
    border: 1px solid #F2F2F2;
	height: 28vw;
	width: 40vw;
	box-shadow: 2px 2px 2px 2px #F2F2F2;
}
.fort img
{
	width: 40vw;
	height: 20vw;
	object-fit: cover;
}

.iles
{
	border-radius: 30px ;
    border: 1px solid #F2F2F2;
	height: 23vw;
	width: 40vw;
	box-shadow: 2px 2px 2px 2px #F2F2F2;
}
.iles img
{
	width: 40vw;
	height: 15vw;
	object-fit: cover;
}
.notre_dame
{
	border-radius: 30px ;
    border: 1px solid #F2F2F2;
	height: 25vw;
	width: 40vw;
	box-shadow: 2px 2px 2px 2px #F2F2F2;
}
.notre_dame img
{
	width: 40vw;
	height: 17vw;
	object-fit: cover;
}
.parc_long
{
	border-radius: 30px ;
    border: 1px solid #F2F2F2;
	height: 26vw;
	width: 40vw;
	box-shadow: 2px 2px 2px 2px #F2F2F2;
}
.parc_long img
{
	width: 40vw;
	height: 18vw;
}
.bas_de_page
{
	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;
	width: 100%;
	height: 18vw;
	padding-top: 50px;
	margin-top: 60px;
}

.bas_de_page ul
{
	list-style-type: none;
}

.bas_de_page a
{
	text-decoration: none;
	color: black;
	font-size: 1.7vw;
}
.titre_bas_de_pages
{
	font-size: 2vw;
	font-weight: bold;
	padding-left: 3.8vw;
}
.Assistance
{
	padding-right: 2vw;
}
.a_propos
{
	
}