@media all and (min-width:801px) and (max-width:1199px)

font-face 
{
    font-family: 'ralewaythin';
    src: url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.filtres h1
{
	font-size: 1em;
}
body
{
    width: 100%;
	max-width: 1199px;

}
.block_page
{
	font-family: ralewaythin, sans-serif;
	width: 100%;
	background-color: green;
	
	
}


/*header */
.logo_nav img
{
	width: 100px;
	height: 80px;
}

.logo_nav
{
	max-width: 1800px
	width: 100%;
   	display: flex;
	margin-top: 1em;
	margin-left: 2.5em;
	justify-content: space-between;
	align-items: center;
}

.logo_nav ul
{
	list-style-type: none;
    text-align: right;
    


}

.heb
{
	border-top:  2px solid #0065FC;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 10px;
}
.logo_nav li
{
	display: inline;
    margin-top: 50px;
}

.logo_nav a
{
	 font-size: 1.2em;
	 text-decoration: none;
	 margin-right: 45px;
	 color: #0065FC;
}

 a:hover
{
	color: #F2F2F2;
}
h1
{
	font-size: 1.5em;
}

.avant_recherche 
{
margin-top: 1em;
margin-left: 2.5em;
}
/*recherche */
.recherche img
{
	display: flex;
    justify-content: flex-start;
	width: 2em;
	height: 1.5em;
	border: 1px #F2F2F2 solid;
	border-top-left-radius: 6px ;
	border-bottom-left-radius: 5.5px ;
	background-color: #F2F2F2;
	padding: 7px 5px 7px 5px;
}


.recherche
{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-left: 2.5em;
}

.ville
{
 height: 2.5em;
 width: 12em;
 font-size: 1em;
 border: 1px #F2F2F2 solid;
 padding-left: 25px;
 font-weight: bold;
}  
.rechercher
{
	height: 2.5em;
    background-color: #0065FC;
    border: 1px #0065FC solid;
    border-top-right-radius: 6px ;
	border-bottom-right-radius: 6px ;
	color: white;
	font-size: 1em;
}

.rechercher_ico
{
	display: none
}

#rechercher:hover
{
	background-color: grey;
}
/*filtres */
.filtres
{
	font-size: 1.5em;
	display: flex;
	justify-content: flex-start;
	margin-top: 1.2em;
	margin-left: 1.8em;
	width: 100%;
	flex-flow: row wrap;

}


.filtres h1
{
	font-size: 1em;
}

.filtres h2
{
	font-size: 0.8em;
	margin-left: 20px;
	margin-right: 30px;
}

.barre_filtres
{
	width: 100%;
	display: flex;
    align-items: flex-start;

}

.eco h1
{
	font-size: 1em;
	margin-left: 1em;
	margin-right: 1.2em;
}
.eco
{

    display: flex;
    align-items:  center;
    font-weight: bold;
    border: 2px #F2F2F2 solid;
  	border-radius: 50px 50px 50px 50px;
  	margin-left: 1em;
}
.fa-money-bill-wave 
{
	
	width: 1em;
	height: 1em;
	border: 1px #DEEBFF solid;
	background-color: #DEEBFF;
	border-radius: 50px 50px 50px 50px;
	padding: 20px 25px 22px 15px;
	color: #0065FC;
	position: relative;
	left: -2px;

}

.fa-money-bill-wave:hover
{
	color: #F2F2F2;
}

.fa-child
{
    width: 1em;
	height: 1em;
	border: 1px #DEEBFF solid;
	background-color: #DEEBFF;
	border-radius: 50px 50px 50px 50px;
	padding: 20px 20px 22px 20px;
	color: #0065FC;
	position: relative;
	left: -2px;
}

.fa-child:hover
{
	color: #F2F2F2;
}
.fam
{
    display: flex;
    align-items:  center;
    font-weight: bold;
    border: 2px #F2F2F2 solid;
  	border-radius: 50px 50px 50px 50px;
  	margin-left: 1em;	
}

.fam h1
{
	font-size: 1em;
	margin-left: 1em;
	margin-right: 1.2em;
}

.fa-heart
{
    width: 1em;
	height: 1em;
	border: 1px #DEEBFF solid;
	background-color: #DEEBFF;
	border-radius: 50px 50px 50px 50px;
	padding: 20px 20px 22px 20px;
	color: #0065FC;
	position: relative;
	left: -2px;
}

.fa-heart:hover
{
	color: #F2F2F2;
}
.rom
{
    display: flex;
    align-items:  center;
    font-weight: bold;
    border: 2px #F2F2F2 solid;
  	border-radius: 50px 50px 50px 50px;
  	margin-left: 1em;	
}

.rom h1
{
	font-size: 1em;
	margin-left: 1em;
	margin-right: 1.2em;
}

.fa-dog
{
    width: 1em;
	height: 1em;
	border: 1px #DEEBFF solid;
	background-color: #DEEBFF;
	border-radius: 50px 50px 50px 50px;
	padding: 20px 20px 22px 20px;
	color: #0065FC;
	position: relative;
	left: -2px;
}
.fa-dog:hover
{
	color: #F2F2F2;
}
.ani
{
    display: flex;
    align-items:  center;
    font-weight: bold;
    border: 2px #F2F2F2 solid;
  	border-radius: 50px 50px 50px 50px;
  	margin-left: 1em;	
}

.ani h1
{
	font-size: 1em;
	margin-left: 1em;
	margin-right: 1.2em;
}
/*info*/
.nombres_logements
{
	display: flex;
	align-items: center;
	margin-left: 2.5em;
	margin-top: 25px;
}

.ico_info
{
	
    border: 2px #F2F2F2 solid;
  	border-radius: 50px 50px 50px 50px;	
  	padding: 5px 10px 5px 10px;
}

.fa-info
{
color: #0065FC;
}

.p_info
{
	margin-left: 10px;
}

/*hebergement*/
.HaM
{
	width: 97%;
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2.5em;
    margin-top: 25px;
    flex-flow: row wrap;
}


h3
{
	font-size: 1em;

}
.desc
{
	margin-left: 15px;
}	

.titre_hebergements
{
	
	margin-left: 2em;
	padding-right: 700px;
	
}


.hebergements
{
    background-color: #F2F2F2;
	border: 2px #F2F2F2 solid;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	margin-bottom: 50px;
	padding-top: 10px;
	height: 800px;
	width: 95%;
	display: flex ;
	flex-flow: row wrap;	
}

.fa-star
{
	color: #0065FC;
	margin-left: 2px;
}

.grey
{
	color: #F2F2F2;
}

.note
{
	width: 50%;
}

.cannebiere
{
  width: 30%;
  border: 2px solid white;
  float: left;
  font-size: 1.2em;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius:30px;
  border-bottom-left-radius: 30px;
  margin-left: 20px;
  margin-bottom: 25px;
}
 
.cannebiere img
{
	width: 98.5%;
	height: 160px;
	border: 2px solid white;
	border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
 .cannebiere:hover
 {
 	background-color: blue;
 }

.hotel_du_port
{
  width: 30%;
  border: 2px solid white;
  float: left;
  font-size: 1.2em;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 25px;
  margin-bottom: 25px;
}

.hotel_du_port img
{
	width: 99%;
	height: 160px;
	border: 2px solid white;
	border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.hotel_du_port:hover
{
	background-color: blue;
}
.hotel_des_mouettes
{
  width: 30%;	
  border: 2px solid white;
  float: left;
  font-size: 1.2em;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 25px;

  margin-bottom: 25px;
  
}

.hotel_des_mouettes img
{
	width: 99%;
	height: 160px;
	border: 2px solid white;
	border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.hotel_des_mouettes:hover
{
	background-color: blue;
}

.hotel_de_la_mer
{
  width: 30%;
  border: 2px solid white;

  font-size: 1.2em;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius:30px;
  margin-left: 20px;
  margin-bottom: 25px;
  
}

.hotel_de_la_mer img
{
	width: 99%;
	height: 160px;
	border: 2px solid white;
	border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.hotel_de_la_mer:hover
{
	background-color: blue;
}
.auberge_le_panier
{
  width: 30%;
  border: 2px solid white;
  float: left;
  font-size: 1.2em;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius:30px;
  border-bottom-left-radius: 30px;
  margin-left: 25px;
  margin-bottom: 25px;
  
}

.auberge_le_panier img
{
	width: 99%;
	height: 160px;
	border: 2px solid white;
	border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.auberge_le_panier:hover
{
	background-color: blue;
}
.chez_amina
{
  width: 30%;
  border: 2px solid white;
  float: left;
  font-size: 1.2em;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius:30px;
  border-bottom-left-radius: 30px;
  margin-left: 25px;
  margin-bottom: 25px;
  
}

.chez_amina img
{
	width: 99%;
	height: 160px;
	border: 2px solid white;
	border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    object-fit: cover;
}
.chez_amina:hover
{
	background-color: blue;
}
.plus
{
	margin-left: 2em;
	padding-right: 2em;
	
}
.plus button:hover
{
	color: white;
}
.plus button
{
	font-size: 1.5em;
	font-weight: bold;
}


.populaires
{
	background-color: #F2F2F2;
	border: 2px #F2F2F2 solid;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	padding-top: 10px;
	height: 800px;
	width: 95%;
	display: flex;
	flex-flow: row wrap;
	margin-right: 2%;
}

.titre_pop
{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 2em;

}

.desc_pop
{
	
	width: 80%;
	height: auto;
	margin-left: 30px;
	padding-right: 30px;
    
}
.desc_pop_tbeb
{
	width: 80%;
	height: auto;
	margin-left: 30px;
	padding-right: 30px;
}


.desc_pop_sol
{
	
	width: 80%;
	height: auto;
	margin-left: 30px;
	padding-right: 20px;
}


.fa-chart-line
{
	margin-left: 200px;
}


.soleil_du_matin
{
  border: 2px solid white;
  
  height: 32%;
  width: 95%;
  
  font-size: 1.2em;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding-top: 4px;
  padding-left: 1px;
 
}

.soleil_du_matin img
{
	width: 90%;
	height:120%;
	border: 2px solid white;
	border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.soleil_du_matin:hover
{
	background-color: blue;
}
.coeur_de_l_eau
{
  border: 2px solid white;
  display: flex;
  height: 32%;
  width: 95%;
  
  align-items: center;
  font-size: 1.2em;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding-top: 4px;
  padding-left: 1px;
}

.coeur_de_l_eau img
{
	width: 94%;
	height: 30%;
	border: 2px solid white;
	border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.coeur_de_l_eau:hover
{
	background-color: blue;
}
.bleu_et_blanc
{
  border: 2px solid white;
  display: flex;
  height: 180px;
  width: 88%;
  height: 23%;
  align-items: center;
  font-size: 1.2em;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding-top: 5px;
  padding-left: 1px;
}

.bleu_et_blanc img
{
	width: 220px;
	height: 180px;
	border: 2px solid white;
	border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.bleu_et_blanc:hover
{
	background-color: blue;
}
.Activités
{
	margin-left: 2.5em;
	margin-top: 80px;
	
}
.Activités h3
{
	margin-left: 20px;
}
.block_activites
{
	display: flex;
	justify-content: space-between;
	width: 100%;
	
}
.act_1
{
	border: 1px solid #F2F2F2;
	width: 20%;
	border-radius: 30px;
	box-shadow: 3px 3px 3px 3px #F2F2F2;
}

.act_1 img
{
	width: 100%;
	height: 500px;
	border: 1px solid #F2F2F2;
	border-radius: 30px 30px 0px 0px;
	object-fit: cover;
}
.act_1:hover
{
	background-color: blue
}
.act_2
{
  width: 20%;
  
}

.fort
{
	width: 100%;
    
	border-radius: 30px;
	box-shadow: 3px 3px 3px 3px #F2F2F2;
	border: 1px solid #F2F2F2;
	margin-bottom: 50px;
}

.fort img
{
	width: 100%;
	height: 250px;
	object-fit: cover;
    border: 1px solid #F2F2F2;
	border-radius: 30px 30px 0px 0px;
}
.fort:hover
{
	background-color: blue;
}
.iles
{
	width: 100%;
    border-radius: 30px;
	box-shadow: 3px 3px 3px 3px #F2F2F2;
	border: 1px solid #F2F2F2;
}

.iles img
{
	width: 100%;
	height: 150px;
	object-fit: cover;
    border: 1px solid #F2F2F2;
	border-radius: 30px 30px 0px 0px;
}
.iles:hover
{
	background-color: blue;
}
.act_3
{
	border: 1px solid #F2F2F2;
	width: 20%;
	border-radius: 30px;
	box-shadow: 3px 3px 3px 3px #F2F2F2;
}

.act_3 img
{
	width: 100%;
	height: 500px;
	border: 1px solid #F2F2F2;
	border-radius: 30px 30px 0px 0px;
	object-fit: cover;
}
.act_3:hover
{
	background-color: blue;
}
.act_4
{
	width: 20%;
	margin-right: 4%;

}

.notre_dame
{
	width: 100%;
    border-radius: 30px;
	box-shadow: 3px 3px 3px 3px #F2F2F2;
	border: 1px solid #F2F2F2;
	margin-bottom: 60px;
}

.notre_dame img
{
	width: 100%;
	height: 185px;
	object-fit: cover;
    border: 1px solid #F2F2F2;
	border-radius: 30px 30px 0px 0px;
}
.notre_dame:hover
{
	background-color: blue;
}
.parc_long
{
	width: 100%;
    border-radius: 30px;
	box-shadow: 3px 3px 3px 3px #F2F2F2;
	border: 1px solid #F2F2F2;	
}

.parc_long img
{
	width: 100%;
	height: 200px;
	object-fit: cover;
    border: 1px solid #F2F2F2;
	border-radius: 30px 30px 0px 0px;
}

.bas_de_page
{
	background-color: #F2F2F2;
	height: 180px;
	display: flex;
	justify-content: space-between; 
	margin-left: 1em;
	margin-top: 60px;


}
.parc_long:hover
{
	background-color: blue;
}
.bas_de_page
{
	width: 100%;
}
.bas_de_page ul
{
	list-style-type: none;
}

.bas_de_page a
{
	text-decoration: none;
	color: black;


}
.bas_de_page a:hover
{
	color: blue;
}

.bas_de_page li
{
	line-height: 30px ;

}

.bas_de_page h4
{
	margin-left: 40px;
}

.Assistance
{
	margin-right: 20%;
}