 @media all and (max-width:767px)
{

@font-face 
{
    font-family: 'ralewaythin';
    src: url('police/Raleway-VariableFont_wght.ttf') format('ttf');
    
    font-weight: normal;
    font-style: normal;
}

body
{
    margin: 0px;
    width: 100%;
    min-width: 180px;
}


.block_page
{
	font-family: ralewaythin, sans-serif;
	width: 100%;
        
}
.logo_nav
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.logo_nav img
{
    width: 22vw;
    height: 14vw;
    padding-left: 2vw;
    margin-top: 2vw;
    margin-left: 5vw;
    
}

.logo
{
    width: 50%;
}
.logo_nav a
{
    text-decoration: none;
    color: #0065FC;
    font-size: 3.5vw;
}
.sin
{
    order: 1;
    width: 35%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 15%;
} 

.heb
{
    order: 2; 
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    border-bottom: 3px solid #0065FC;
    padding-bottom: 15px;

       
}
.ac
{
   order: 3;
   width: 50%;
   display: flex;
   justify-content: space-around; 
   padding-top: 20px;
   border-bottom: 3px solid #F2F2F2;
   padding-bottom: 15px;
   

}
.ac a
{
    color: black;
}

.avant_recherche
{
    
    margin-left: 10px;
}
.avant_recherche h1
{
    font-size: 6.5vw;
    
    
    margin-left: 2vw;
}
.avant_recherche p
{
    font-size: 4vw;
    margin-left: 2vw;
}
    
.rechercher
{
    display: none;
}
.recherche
{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: auto;

    

}
.fa-map-marker-alt
{
   border-radius: 12px 0px 0px 12px;
   margin-left: 2vw;
   padding: 2.85vw 2.6vw 2.8vw 2.6vw ; 
   background-color: #F2F2F2;
   font-size: 4vw;
   
}
.ville
{
    font-size: 4vw;
    font-weight: bold;
    padding: 2vw 0px 2vw 6vw;
    border: 2px solid #F2F2F2;
    width: 99%;
    
}
.rechercher_ico
{
 
    background-color: #0065FC;
    color: white;
    padding: 2.4vw 2.2vw 2.3vw 2.2vw;
    border-radius: 12px;
    position: relative;
    left: -14px;
    font-size: 4vw;
    border: none;
    
}
.filtres
{
    display: flex;
    flex-flow: row wrap;
    margin-left: 15px;
}
.filtres h1
{
    padding-right: 2vw; 
    font-size: 6.5vw;
}
.barre_filtres
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    
}
.barre_filtres h2
{
    font-size: 3.5vw;
    padding: 0px 4vw 0px 3vw;
    white-space: nowrap;
}
.eco
{
    display: flex;
    align-items: center;
    width: 45vw;
    height: 12.5vw;
    margin-bottom: 3vw; 
    margin-right: 3vw;
    border-radius: 45px;
    border: 2px solid #F2F2F2;
    
    
}
.fa-money-bill-wave
{
    background-color: #DEEBFF;
    padding: 4.8vw 4.5vw 4.8vw 4.5vw; 
    border-radius: 45px;
    position: relative;
    left: -1vw;
    color: #0065FC;
    font-size: 3vw;
}
.fam
{
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 10px; 
    border: 2px solid #F2F2F2;
    border-radius: 45px;
    padding: 0px 20px 0px 0px;
    width: 36vw;
    height: 12vw;
}
.fa-child
{
    
    background-color: #DEEBFF;
    padding: 4.8vw 4.7vw 4.8vw 4.7vw;
    border-radius: 45px;
    position: relative;
    left: -1vw;
    color: #0065FC;
    font-size: 3vw;
}
.rom
{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 3vw; 
    border: 2px solid #F2F2F2;
    border-radius: 45px;
    padding: 0px 10px 0px 0px;
    height: 12vw;
    width: 43vw;

}
.fa-heart
{
    background-color: #DEEBFF;
    padding: 4.8vw 4.5vw 4.8vw 4.5vw;
    border-radius: 45px;
    position: relative;
    left: -1vw;
    color: #0065FC;
    font-size: 3vw;

}
.ani
{
    display: flex;
    align-items: center;
    margin-right: 20px; 
    margin-bottom: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 45px;
    padding: 0px 10px 0px 0px;
    width: 50vw;
    height: 12vw;
}
.fa-dog
{
    background-color: #DEEBFF;
    padding: 4.8vw 4.5vw 4.8vw 4.5vw;
    border-radius: 45px;
    position: relative;
    left: -1vw;
    color: #0065FC;
    font-size: 3vw;
}
.nombres_logements
{
    display: flex;
    align-items: center;
    margin-left: 18px;
}
.nombres_logements p
{
    font-size: 3vw;
}


.ico_info
{
    font-size: 3vw;
    border: 2px solid #F2F2F2;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 30px;
    margin-right: 10px;
    color: #0065FC;
    margin-bottom: 1vw;
}
.HaM
{
   width: 100%;
   display: flex;
   flex-flow: row wrap-reverse;
   justify-content: space-between;
   align-items: flex-start;
 
}



.hebergements
{
    width: 100%;
    margin-bottom: 6vw;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    height: auto;
    border-radius: 30px;  
}
.titre_hebergements
{
    font-size: 4vw;
    
    width: 100%;
    margin-left: 30px;
}
.desc
{
    border-radius: 30px;
    margin-left: 4vw;
    
}
.titre_desc
{
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 5px;
}
.text_desc
{
    margin-bottom: 0px;
    font-size: 4vw;
    margin-bottom: 7px;
}
.note
{
    font-size: 2.7vw;
    margin-bottom: 10px;
}
.fa-star
{
    color: #0065FC;
}
.grey
{
    color: #F2F2F2;
}
.heb_block
{
    
    border-radius: 20px;
    height: auto;
    background-color: white;
    width: 85vw;
    margin-bottom: 20px;
    box-shadow: 0px 1px 10px 5px rgb(100 100 100 / 10%);

}
.heb_block img
{
    width: 85vw;
    height: 28vw;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;

}

.afficher
{
        
    font-size: 4vw;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    border: none;
    background-color: white; 
}
.plus
{
   display: flex;
   justify-content: flex-start;
   width: 100%;
   margin-left: 21px
    
}
.populaires
{
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: auto;
    
    margin-bottom: 10vw;
}
.titre_pop
{
    font-size: 4vw;
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}
.block_pop
{
    display: flex;
    background-color: white;
    
    border-radius: 20px;
    width: 85vw;
    height: 29.6vw;
    margin-bottom: 20px;

}

.block_pop img
{
    border-radius: 20px 0px 0px 20px;
    height: 28vw;
    width: 30vw;
    object-fit: cover;
    margin: 0.8vw 0px 0.8vw 0.8vw;
}

.desc_pop
{
    width: 50%;
    margin-left: 30px;
    height: 28vw;
}

.titre_desc_pop
{
    font-size: 4vw;
    font-weight: bold;
    margin-top: 1vw;
}
.text_desc_pop
{
    font-size: 3.5vw;
    margin-top: 1vw;
}
.note_pop
{
    padding-top: 8vw;
    font-size: 3vw;
    margin-bottom: 20px;
}





.titre_act 
{
    font-size: 4vw;
    margin-left: 28px;
    
}
.block_activites
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}
.desc_act
{
    font-size: 4vw;
    font-weight: bold;
    padding-left: 6vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.act_1
{
   border-radius: 20px ;
   width: 85vw;
   height: 44vw;
   box-shadow: 0px 1px 10px 5px rgb(100 100 100 / 10%);
   margin-bottom: 20px;
}
.act_1 img
{
    border-radius: 20px 20px 0px 0px;
    width: 85vw;
    height: 32vw;
    object-fit: cover;
}
.act_2
{
   width: 85vw;
   height: auto;
   display: flex;
   flex-flow: row wrap;
   align-content: space-between;
   margin-bottom: 20px;
}
.act_2 img
{
    border-radius: 20px 20px 0px 0px;
}
.fort
{
    border-radius: 20px ;
    height: 44vw;
    width: 85vw;
    box-shadow: 0px 1px 10px 5px rgb(100 100 100 / 10%);
    margin-bottom: 20px;
}
.fort img
{
    width: 85vw;
    height: 32vw;
    object-fit: cover;
}

.iles
{
    border-radius: 20px ;
    height: 44vw;
    width: 85vw;
    box-shadow: 0px 1px 10px 5px rgb(100 100 100 / 10%);

}
.iles img
{
    width: 85vw;
    height: 32vw;
    object-fit: cover;
}
.notre_dame
{
    border-radius: 20px ;
    height: 44vw;
    width: 85vw;
    box-shadow: 0px 1px 10px 5px rgb(100 100 100 / 10%);
    margin-bottom: 20px;
}
.notre_dame img
{
    width: 85vw;
    height:32vw;
    object-fit: cover;
}
.parc_long
{
    border-radius: 20px ;
    height: 44vw;
    width: 85vw;
    box-shadow: 0px 1px 10px 5px rgb(100 100 100 / 10%);
}
.parc_long img
{
    width: 85vw;
    height: 32vw;
    object-fit: cover
}
.bas_de_page
{
    
    background-color: #F2F2F2;
    width: 100%;
    height: auto;
    padding-top: 7vw;
    margin-top: 5vw;
    padding-bottom: 5vw;
   

}
.bas_de_page ul
{
    list-style-type: none;
    
    
}

.bas_de_page a
{
    text-decoration: none;
    color: black;
    font-size: 4vw;
    

        
}
.bas_de_page li
{
    padding-bottom: 10px;
}
.titre_bas_de_pages
{
    font-size: 5vw;
    font-weight: bold;
    width: 60%;
    margin-left: 40px;
    padding-bottom: 15px;

}
.a_propos
{
    display: flex;
    flex-flow: row wrap; 
    justify-content: flex-start;
    width: 90%;
    
}
.nos_hebergements
{
    display: flex;
    flex-flow: row wrap; 
    justify-content: flex-start;
    padding-top: 30px;
    width: 80%;
    margin-right: 0px;
    
}
.Assistance
{
    display: flex;
    flex-flow: row wrap; 
    justify-content: flex-start;
    padding-top: 30px;
    width: 90%;   
}
}